{
  "presets": ["babel-preset-env"],
  "plugins": [
    "add-module-exports",
    [
      "transform-react-jsx",
      {
        "pragma": "Glamor.createElement"
      }
    ],
    "glamor/babel-hoist"
  ]
}
